.parte-direita-home {
  display: flex;
}

.foto {
  width: 50%;
  display: flex;
  margin-left: -13%;
  margin-bottom: -5%;
  z-index: 0;
  img {
    min-width: 100%;
  }
}

.missao {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 65vh;
  padding-right: 3.5%;
  h2 {
    color: #c12d18;
    font-size: 2.5em;
  }
  p {
    color: #222222;
    font-size: 1.2em;
  }
}
